---
layout: article
---
<div itemscope itemtype="http://schema.org/Article">
  <div class="col-md-12">
    <article class="post post-thumbnail">
      <div class="post-frame">
        <div class="post-heading text-center">
          <h5><span itemprop="headline">{{ page.title }}</span></h5>
          <p><span itemprop="dateCreated">{{ page.date | date:"%d %b %Y" }}</span></p>
        </div>
        <span itemprop="articleBody">
          {{ content }}
        </span>
        <p class="margin-top-50"><a href="{{ site.url }}/{{ page.type-en }}/" class="btn-e btn-block btn-e-primary">More {{ page.type }}</a></p>
      </div>
    </article>
  </div>
</div>