---
layout: default
---
<div class="parallax inner-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <i class="fa fa-{{ page.icon }}"></i>
        <h4>{{ page.title }}</h4>
        <ol class="breadcrumb">
          <li><a href="{{ site.url }}">Home</a></li>
          <li class="active">{{ page.title }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="contain-wrapp padding-bottom-50">
  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
</div>{% if page.category == 'products' %}
<div class="parallax parallax-two solution">
  <div class="cta-wrapper cta-parallax cta-primary-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Learn More</h4>
          <p>Please Send Email</p>
          <a class="btn-e btn-gray" href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
      </div>
    </div>
  </div>
</div>{% endif %}