---
layout: article
---
<div class="col-md-5">
  <p align="center"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}.jpg"></p>
</div>
<div class="col-md-7">
  <h4 class="text-center">{{ page.title }}</h4>
  {{ content }}
</div>
<div class="col-md-12 margin-top-30 margin-bottom-50">
  <div class="tab-secondary">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Case</a></li>
      <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Video</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab1">{% if page.case == 'six' %}
        <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
          <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-1.jpg"></a></p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
          <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-2.jpg"></a></p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
          <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-3.jpg"></a></p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
          <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-4.jpg"></a></p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
          <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-5.jpg"></a></p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
          <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-6.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-6.jpg"></a></p>
        </div>{% endif %}
      </div>
      <div role="tabpanel" class="tab-pane" id="tab2">
      </div>
    </div>
  </div>
</div>
<div class="col-md-8 col-md-offset-2">
  <div class="section-heading">
    <h3>More {{ page.type }}</h3>
    <i class="fa fa-{{ page.icon }}"></i>
  </div>
</div>
{% include products-list.html %}