---
layout: article
---
<div class="col-md-5">
  <p align="center"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}.jpg"></p>
</div>
<div class="col-md-7">
  <h4 class="text-center">{{ page.title }}</h4>
  {{ content }}
</div>
<div class="col-md-12 margin-top-30 margin-bottom-50">
  <div class="tab-secondary">
    <ul class="nav nav-tabs" role="tablist">{% if page.case == 'wu' %}{% else %}
      <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Case</a></li>{% endif %}{% if page.video == 'wu' %}{% else %}
      <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Video</a></li>{% endif %}
      <li role="presentation" class="{% if page.case == 'wu' %}active{% endif %}"><a href="#tab3" role="tab" data-toggle="tab">More {{ page.type }}</a></li>
    </ul>
    <div class="tab-content">{% if page.case == 'wu' %}{% else %}
      <div role="tabpanel" class="tab-pane active" id="tab1">
        <div class="row">{% if page.case == 'one' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-1.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'two' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-2.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'three' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-3.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'four' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-4.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'five' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-4.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-5.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'six' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-4.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-5.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-6.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-6.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'eight' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-4.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-5.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-6.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-6.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-7.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-7.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-8.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-8.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'thirteen' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-4.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-5.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-6.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-6.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-7.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-7.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-8.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-8.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-9.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-9.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-10.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-10.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-11.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-11.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-12.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-12.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-13.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-13.jpg"></a></p>
          </div>{% endif %}{% if page.type-en == 'truss' or page.type-en == 'stage' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-4.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-5.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-5.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-6.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-6.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-7.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-7.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-8.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-8.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-9.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-9.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-10.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-10.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-11.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-11.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-12.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-12.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-13.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-13.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-14.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-14.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-15.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-15.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-16.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-16.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-17.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-17.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-18.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-18.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/truss-stage-19.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-19.jpg"></a></p>
          </div>{% endif %}
        </div>
      </div>{% endif %}{% if page.video == 'wu' %}{% else %}
      <div role="tabpanel" class="tab-pane" id="tab2">
      </div>{% endif %}
      <div role="tabpanel" class="tab-pane" id="tab3">
        <div class="row">{% for post in site.categories["products"] %}{% if post.type-en == page.type-en %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <div class="img-wrapper">
              <a href="{{ site.url }}{{ post.url }}"><img src="/images/products/{{ post.image }}.jpg" class="img-responsive" alt="{{ post.title }}"></a>
            </div>
            <div class="img-containt text-center">
              <p><span style="font-size:15px">{{ post.title }}</span></p>
            </div>
          </div>{% endif %}{% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>