---
layout: article
---
<div class="col-md-5">
  <p align="center"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}.jpg"></p>
</div>
<div class="col-md-7">
  <h4 class="text-center">{{ page.title }}</h4>
  {{ content }}
</div>
<div class="col-md-12 margin-top-30 margin-bottom-50">
  <div class="tab-secondary">
    <ul class="nav nav-tabs" role="tablist">{% if page.case == 'wu' %}{% else %}
      <li role="presentation" class="{% if page.tab == 'case' %}active{% endif %}"><a href="#tab1" role="tab" data-toggle="tab">Case</a></li>{% endif %}{% if page.video == 'wu' %}{% else %}
      <li role="presentation" class="{% if page.tab == 'video' %}active{% endif %}"><a href="#tab2" role="tab" data-toggle="tab">Video</a></li>{% endif %}
      <li role="presentation" class="{% if page.tab == 'more' %}active{% endif %}"><a href="#tab3" role="tab" data-toggle="tab">More {{ page.type }}</a></li>
    </ul>
    <div class="tab-content">{% if page.case == 'wu' %}{% else %}
      <div role="tabpanel" class="tab-pane {% if page.tab == 'case' %}active{% endif %}" id="tab1">
        <div class="row">{% if page.case == 'one' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-1.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'two' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-2.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'three' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-3.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'four' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-4.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'five' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-4.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-5.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-5.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'six' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-4.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-5.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-5.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-6.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-6.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'eight' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-4.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-5.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-5.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-6.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-6.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-7.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-7.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-8.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-8.jpg"></a></p>
          </div>{% endif %}{% if page.case == 'thirteen' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-4.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-5.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-5.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-6.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-6.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-7.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-7.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-8.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-8.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-9.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-9.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-10.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-10.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-11.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-11.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-12.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-12.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/{{ page.image }}-case-13.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/{{ page.image }}-case-13.jpg"></a></p>
          </div>{% endif %}{% if page.type-en == 'truss' or page.type-en == 'stage' %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-1.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-1.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-2.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-2.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-3.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-3.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-4.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-4.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-5.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-5.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-6.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-6.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-7.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-7.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-8.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-8.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-9.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-9.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-10.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-10.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-11.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-11.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-12.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-12.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-13.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-13.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-14.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-14.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-15.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-15.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-16.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-16.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-17.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-17.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-18.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-18.jpg"></a></p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <p align="center"><a data-fancybox="{{ page.title }} Case" data-caption="{{ page.title }} Case" href="/images/products/truss-stage-case-19.jpg"><img class="img-responsive img-thumbnail" alt="{{ page.title }}" src="/images/products/truss-stage-case-19.jpg"></a></p>
          </div>{% endif %}
        </div>
      </div>{% endif %}{% if page.video == 'wu' %}{% else %}
      <div role="tabpanel" class="tab-pane {% if page.tab == 'video' %}active{% endif %}" id="tab2">
      </div>{% endif %}
      <div role="tabpanel" class="tab-pane {% if page.tab == 'more' %}active{% endif %}" id="tab3">
        <div class="row">{% for post in site.categories["products"] %}{% if post.type-en == page.type-en %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30">
            <div class="img-wrapper">
              <a href="{{ site.url }}{{ post.url }}"><img src="/images/products/{{ post.image }}.jpg" class="img-responsive" alt="{{ post.title }}"></a>
            </div>
            <div class="img-containt text-center">
              <p><span style="font-size:15px">{{ post.title }}</span></p>
            </div>
          </div>{% endif %}{% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>